* {
    font-family: Raleway, Times, serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#header {
    padding: 0 2vw;
    height: 10vh;
    background-color: #789949;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 36px;
}

#footer {
    height: 10vh;
    background-color: #789949;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}


.nav button {
    border: none;
    background-color: transparent;
    font-size: 24px;
    color: #ffffff;
    padding: 10vh 1vw;
}

.nav button:hover {
    background-color: #4f662e
}

.nav ul {
    display: flex;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.main-img {
    width: 100%;
}


#content {
    background-color: #ded4c8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    flex: 1;
}

.section-header {
    padding: 5vh 0 0 0;
    font-size: 30px;
}

.about {
    padding: 0 5vw;
}

.ramen-img {
    width: 60vw;
}

.testimonials {
    margin: 0 10vw 5vh 10vw;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.testimonials .section-header {
    grid-column: 1 / -1;
    margin-bottom: 5vh;
}

.reviews {
    display: flex;
    gap: 5vw;
}

.review {
    width: 30vw;
    background-color: #ffffffc0;
    padding: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 5px solid #789949;
}

.quote {
    font-style: italic;
}

.contact-container {
    display: flex;
    gap: 5vw;
    padding: 0 5vw 5vh 5vw;
}

.map {
    width: 40vw;
    height: 60vh;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 40vw;
}

.main, .dessert {
    padding: 5vh 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.food-container {
    display: flex;
    gap: 2vw;
    width: 35vw;
}

.food-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 20vw;
}

.food-name {
    font-weight: bold;
}

.food-img {
    border-radius: 1vw;
    background-size: cover;
    background-position: center;
    width: 10vw;
    height: 10vw;
}

.dessert {
    padding: 0 0 10vh 0;
}