* {
    font-family: Raleway, Arial, sans-serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

#header {
    padding: 0 20px;
    height: 80px;
    background-color: #789949;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 36px;
}

#footer {
    height: 50px;
    background-color: #789949;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}


.nav button {
    border: none;
    background-color: transparent;
    font-size: 24px;
    color: #ffffff;
    padding: 50px 15px;
}

.nav button:hover {
    background-color: #4f662e
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

.main-img {
    width: 100%;
}


#content {
    background-color: #ded4c8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex: 1;
}

.section-header {
    font-size: 30px;
}

.about {
    padding: 0 100px;
}

.testimonials {
    margin: 50px 100px;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 50px 100px;
}

.testimonials .section-header {
    grid-column: 1 / -1;
}
.review {
    height: 50px;
    background-color: #ffffffc0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 5px solid #789949;
}

.quote {
    font-style: italic;
}